*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

 html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
	background-color: #191919;
	margin: 0 0  20px 0;
}

.wrapper {
	margin: 0px auto;
	max-width: 938px;
	height: auto;
	background-color: #fff;
}
.header {
	display: flex;
	flex: 1 1 auto;
	align-items: center;
	height: 62px;
	padding: 0px 0 0 16px;
	letter-spacing: -1.2px;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	border-bottom: 3px solid #000;
	background: #fff;
	width: 100%;
}
.header__left {
	display: flex;
	flex:1 1 auto;
	font-size: 26px;
	padding-top: 4px;
	color: #000;
}
.header__right{
	display: flex;
	align-items: center;
	height: 60px;
}
.header__right a:visited{
	color: #000;
}
.header__rightExplore {
	padding: 2px 30px 0px 0;
	letter-spacing: -0.8px;
	
}
.header__rightShop {
	min-width: 94px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 3px solid #000;
	padding: 0 5px 0px 0;
}
.header__rightCart{
	height: 60px;
	padding: 0 3px 0px 0;
	min-width: 92px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 3px solid #000;
}

.block__One {
	font-family: 'Roboto', sans-serif;
	font-size: 60px;
	text-transform: uppercase;
	height: auto;
	width: 100%;
	overflow: hidden;
	letter-spacing: 14px;
	padding: 18px 5px 24px 12px;
	letter-spacing: -3.8px;
}

@media(max-width:935px){

	body.lock{
		overflow: hidden;
	  }
}


.block__Elleven {
	display: flex;
	flex-wrap: nowrap;
}
.block__EllevenPartOne,
.block__EllevenPartTwo{
	display: flex;
	flex-wrap: nowrap;
}

.block__EllevenETC{
	overflow: hidden;
	width: 24.95%;
	padding: 0 0 0 1px;
	width: auto;
}
.block__EllevenETC img{
	width: 100%;
	height: 235px;
	object-fit: cover;
}
.block__EllevenETC p{
	font-family:'Roboto', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 2px 10px 16px 0px;
	letter-spacing: -1.2px;
}
.block__EllevenOne {
}
.block__EllevenTwo p{
	letter-spacing: -1px;
}
.block__EllevenThree {
}
.block__EllevenFour p{
	letter-spacing: -1.2px;
}

.block__Five {
	display: flex;
	justify-content: space-between;
	height: auto;
	border-top: 3px solid #000;
	border-bottom: 3px solid #000;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	padding: 18px 0px 12px 2px;
}
.block_FiveTop {
	width: 80%;
	font-size: 58px;
	letter-spacing: -1.1px;
	line-height: 58.5px;
}
.block_FiveTop span:nth-child(1){
	position: relative;
	top: 4px;
	margin-right: 10px;
}
.block_FiveTop span:nth-child(2){
	position: relative;

}
.block__FiveBottom{
	display: flex;
	flex-direction: column;
	width: 20%;
}
.block__FiveBottom :visited{
	color: #000;
}

.arrow{
	display: block;
	position: relative;
	display: flex;
	flex: 1;
}

.arrow span{
	content: '';
	background-color: #000;
	width: 210px;
	height: 8px;
	transform: rotate(-45deg);
	position: absolute;
	top: 80px;
	right: -12px;
}
.arrow::before,
.arrow::after{
	content: '';
	background-color: #000;
	width: 122px;
	height: 8px;
	position: absolute;
	top: 6px;
	right:16px;
}
.arrow::before{
	transform: rotate(90deg);
	top: 63px;
	right:-42px;
}

.block__FiveBottom p{
	font-weight: 700;
	color: #000;
	font-size: 28px;

}

.block__Ell{
	display: flex;
	padding: 36px 2px 0 2px;
	overflow: hidden;
}
.block__EllETC{
	overflow: hidden;
	width: 33.3%;
}
.block__EllETC img{
	width: 100%;
	height: 312px;
	object-fit: cover;
}
.block__EllnOne{}
.block__EllTwo{
	padding: 0 2px 0 3px;
}
.block__EllThree{}

.block__EllETC p{
	font-family:'Roboto', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 4px 12px 16px 0;
}
.block__EllETC:nth-child(1){
	letter-spacing: -1.2px;
}
.block__EllETC:nth-child(2){
	letter-spacing: -1.4px;
}
.block__EllETC:nth-child(3){
	letter-spacing: -1.3px;
}


.block__Twelve {
	margin-top: 6px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	padding: 21px 46px 17px 16px;
	letter-spacing: 0.5px;
}
.block__TwelveCentet a,
.block__TwelveRight a{
	color: #909090;
}

.block__TwelveLeft {
}
.block__TwelveLeftTop {
	font-weight: 600;
}
.block__TwelveLeftBottom {
	padding-top: 4px;
	letter-spacing: 0.4px;
}
.block__TwelveCentetPartTwo{
	display: flex;
}
.block__TwelveCentet {
	padding: 0 10px;
	color: #000;
}
.block__TwelveRight span
{
	content: '';
	position: absolute;
	width: 16px;
	height: 1.5px;
	background: #fff;
	margin: 5px 0 0 11px;


}
.block__TwelveRight::before {
	content: '';
	position: absolute;
	width: 8px;
	height: 1.5px;
	transform: rotate(45deg);
	background-color: #fff;
	margin: 3px 0 0 95px;
}
.block__TwelveRight::after {
	content: '';
	position: absolute;
	width: 6px;
	height: 1.5px;
	transform: rotate(-45deg);
	background-color: #fff;
	margin: 8px 0 0 21px;
}
.block__Thirteen {
	display: flex;
	margin-bottom: 10px;
	background-color: #fff;

}
.block__ThirteenETC{
	padding: 9px 0px 10px 14px;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	line-height: 15px;
	letter-spacing: 0.2px;
	font-weight: 700;
}
.block__ThirteenLeft {
	width: 33.3%;
	
}
.block__ThirteenLeftTop {
	padding: 0px 0px 0 2px;
}
.block__ThirteenLeftBottom {
	padding: 17px 12px 0 2px;
	line-height: 15.7px;
	letter-spacing: 0.25px;
}
.block__ThirteenLeftBottom span{
	letter-spacing: 0.6px;
	padding-right: 15px;
}
.block__ThirteenCenter {
	border-left: 3px solid #000;
	width: 33.3%;
}
.block__ThirteenCenterTop {
}
.block__ThirteenCenterBottom {
	padding: 18px 15px 0 0 ;
}
.block__ThirteenRight {
	line-height: 15.5px;
	border-left: 3px solid #000;
}
.block__ThirteenRight :visited{
	color: #000;
}

@media(max-width:768px){

	.header {
		display: flex;
		flex: 1 1 auto;
		align-items: center;
		height: 62px;
		padding: 0px 0 0 16px;
		letter-spacing: -1.2px;
		font-family: 'Roboto', sans-serif;
		text-transform: uppercase;
		font-weight: 700;
		border-bottom: 3px solid #000;
		background: #fff;
		width: 100%;
	}
	.header__left {
		display: flex;
		flex:1 1 auto;
		font-size: 26px;
		padding-top: 4px;
	}

	.header_burger{
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 4;
		margin-right: 20px;
	}
	.header_burger span{
		position: absolute;
		background-color: #000;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease 0s;
	}
	.header_burger::after,
	.header_burger::before{
		content: '';
		background: #000;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header_burger::after{
		top: 0px;
	}
	.header_burger::before{
		bottom: 0px;
	}
	.header_burger.active:before{
		transform: rotate(45deg);
		top: 7px;
		transition: all 0.3s ease 0s;
	  }
  
	  .header_burger.active:after{
		transform: rotate(-45deg);
		top: 6px;
		transition: all 0.3s ease 0s;
	  }
	  .header_burger.active span{
		transform: scale(0);
		transition: all 0.3s ease 0s;
	  }


	  .header__right{
		position: fixed;
		overflow: auto;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #18b5a4;
		padding: 70px 10px 20px 10px;
		transition: all 0.3s ease 0s;
		text-align: center;
	  }
	  .header__right.active{
		top: 0%
	  }
	  .header__right{
		display: block;
	  }
	  .header__right li{
		margin: 0 0 20px 0;
	  }
	  .header__right a:visited{
		color: #000;
	  }
	.header__right{
		display: block;
		position: fixed;
      	overflow: auto;
      	top: -100%;
		left: 0;
		width: 100%;
		height: 35%;
		background-color: #18b5a4;
      	padding: 20px;
      	transition: all 0.3s ease 0s;	
	}
	.header__right li{
		padding-bottom: 10px;
	}
	.header__rightExplore {
		padding: 0;
		display: block;
		height: auto;
		
	}
	.header__rightShop {
		border-left: none;
		padding: 0px;
		display: block;
		height: auto;
	}
	.header__rightCart{
		padding: 0px;
		height: auto;
		display: block;
		border-left: none;
	}

	.block__One {
		font-size: 40px;
		padding: 14px 5px 16px 12px;
	}

	.block__EllevenETC img{
		height: 180px;
	}
	.block__EllevenETC p{
		font-size: 13px;
		padding: 2px 10px 8px 0px;
	}
	
	.block__Five {
		padding: 14px 0px 8px 2px;
	}
	.block_FiveTop {
		font-size: 42px;
	}
	.block_FiveTop span:nth-child(1){
		position: relative;
		top: 4px;
		margin-right: 10px;
	}
	.block_FiveTop span:nth-child(2){
		position: relative;
	
	}
	.block__FiveBottom{
		display: flex;
		flex-direction: column;
		width: 20%;
	}
	.block__FiveBottom :visited{
		color: #000;
	}
	
	.arrow{
		display: block;
		position: relative;
		display: flex;
		flex: 1;
	}
	
	.arrow span{
		content: '';
		background-color: #000;
		width: 147px;
		height: 8px;
		transform: rotate(-45deg);
		position: absolute;
		top: 60px;
		right: -6px;
	}
	.arrow::before,
	.arrow::after{
		content: '';
		background-color: #000;
		width: 85px;
		height: 8px;
		position: absolute;
		top: 6px;
		right:11px;
	}
	.arrow::before{
		transform: rotate(90deg);
		top: 45px;
		right:-28px;
	}
	
	.block__FiveBottom p{
		font-weight: 700;
		color: #000;
		font-size: 22px;
	
	}
	
	.block__Ell{
		display: flex;
		padding: 36px 2px 0 2px;
		overflow: hidden;
	}
	.block__EllETC{
		overflow: hidden;
		width: 33.3%;
	}
	.block__EllETC img{
		width: 100%;
		height: 270px;
		object-fit: cover;
	}
	.block__Thirteen {
		display: flex;
		margin-bottom: 10px;
		background-color: #fff;
	
	}
	.block__ThirteenETC{
		word-wrap: break-word;
		padding: 9px 4px 10px 14px;
		font-size: 8px;
		line-height: 8px;
	}
	.block__ThirteenLeftBottom {
		line-height: 8px;
	}
	.block__ThirteenCenterTop {
	}
	
	.block__ThirteenRight {
		line-height: 8px;
	}
}


@media(max-width:425px){

.block__One {
	font-size: 30px;
	padding: 10px 5px 14px 12px;
}

.block__Elleven {
	display: flex;
	flex-wrap: wrap;
}
.block__EllevenETC{
	width: 50%;
}
.block__EllevenETC img{
	height: 100px;
}

.block__Five {
	display: block;
	height: auto;
	border-top: 3px solid #000;
	border-bottom: 3px solid #000;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	padding: 10px 0px 12px 2px;
}
.block_FiveTop {
	width: 100%;
	font-size: 30px;
	letter-spacing: -1.1px;
	line-height: 34px;
}
.block_FiveTop img{
	width: 100px;
	height: auto;
}
.block__FiveBottom{
	padding-top: 15px;
	display: flex;
	width: 100%;
}

.arrow span{
	content: '';
	background-color: #000;
	width: 40px;
	height: 4px;
	transform: rotate(-45deg);
	position: absolute;
	top: 18px;
	right: 10px;
}
.arrow::before,
.arrow::after{
	content: '';
	background-color: #000;
	width: 30px;
	height: 4px;
	position: absolute;
	top: 3px;
	right:14px;
}
.arrow::before{
	transform: rotate(90deg);
	top: 16px;
	right:0px;
}

.block__FiveBottom p{
	font-weight: 700;
	color: #000;
	font-size: 28px;
}

.block__Ell{
	display: block;
	padding: 15px 2px 0 2px;
}
.block__EllETC{
	width: 100%;
}
.block__EllETC img{
	width: 100%;
	height: 150px;
	object-fit: cover;
}
.block__EllnOne{}
.block__EllTwo{
	padding: 0 2px 0 3px;
}
.block__EllThree{}

.block__EllETC p{
	font-family:'Roboto', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 4px 12px 16px 0;
}
.block__EllETC:nth-child(1){
	letter-spacing: -1.2px;
}
.block__EllETC:nth-child(2){
	letter-spacing: -1.4px;
}
.block__EllETC:nth-child(3){
	letter-spacing: -1.3px;
}

.block__TwelveCentetPartTwo{
	flex-direction: column;
	align-items: flex-start;
	height: 100%;
}
.block__Twelve {
	margin-top: 6px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	font-family: 'Roboto', sans-serif;
	font-size: 8px;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	padding: 21px 46px 17px 16px;
	letter-spacing: 0.5px;
}
.block__TwelveCentet a,
.block__TwelveRight a{
	color: #909090;
}
.block__TwelveLeft {
}
.block__TwelveLeftTop {
	font-weight: 600;
}
.block__TwelveLeftBottom {
	padding-top: 4px;
	letter-spacing: 0.4px;
}
.block__TwelveCentet {
	padding: 0px 0 12px 0px;
	color: #000;
}
.block__TwelveRight::before {
	margin: 3px 0 0 72px;
}
.block__TwelveRight::after {
	content: '';
	position: absolute;
	width: 6px;
	height: 1.5px;
	transform: rotate(-45deg);
	background-color: #fff;
	margin: 8px 0 0 21px;
}
}
