*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

 html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
	background-color: #191919;
	margin: 0 0  20px 0;
}

.wrapper {
	margin: 0px auto;
	max-width: 938px;
	height: auto;
	background-color: #fff;
}
.header {
	display: flex;
	flex: 1 1 auto;
	align-items: center;
	height: 62px;
	padding: 0px 0 0 16px;
	letter-spacing: -1.2px;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	border: 3px solid #000;
	border-top: none;
	background: #fff;
	width: 100%;
}
.header__left {
	display: flex;
	flex:1 1 auto;
	font-size: 26px;
	padding-top: 4px;
}
.header__right{
	display: flex;
	align-items: center;
	height: 60px;
}
.header__right a:visited{
	color: #000;
}

.header__rightCart{
	height: 60px;
	padding: 0 3px 0px 0;
	min-width: 94px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 3px solid #000;
	letter-spacing: -0.5px;
}

.body__{
	display: flex;
	flex-wrap: wrap;
}
.forms_ {
	font-family: 'Roboto', sans-serif;
	font-size: 26px;
	padding: 18px 15px 16px 14px;
	text-transform: uppercase;
	height: 360px;
	width: 56.5%;
	overflow: hidden;
	letter-spacing: 0px;
	border: 3px solid #000;
	border-top: none;
}
.forms_Address p{

}
.forms_form {
	margin-top: 29px;
	margin-right: 4px;
}
.forms_form  form{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.forms_firstName {
	
}

.forms__ETC{
	display: flex;
	flex: 1;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #000;
	border: 3px solid #000;
	padding: 15px 30px 15px 12px;
	letter-spacing: -0.6px;
	text-transform: uppercase;
	margin-bottom: 14px;
	width: 100%;
}
.forms_partOne{
	margin-right: 10px;
}

::placeholder{
	color: #000;
}
.forms_lastName {
}
.forms_Mail {
}
.forms_Tel {
}
.forms_Country {
}
.forms_ZipCode {
}
.cart_ {
	border: 3px solid #000;
	border-left: none;
	border-top: none;
	width: 43.5%;
	height: 360px;
	
}
.cart_header {
}
.cart_header{
	font-family: 'Roboto', sans-serif;
	font-size: 26px;
	padding: 18px 15px 12px 14px;
	text-transform: uppercase;
	height: 240px;
	overflow: hidden;
	letter-spacing: 0px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	color: #000;
	border-bottom: 3px solid #000;
	height: 58px;
}
.cart_header a{
	color: #000;
}
.cart_header a:visited{
	color: #000;
}
.cart_header a{
	font-size: 14px;
	font-weight: 700;
	text-decoration:underline;

}
.cart__list {
}
.cart__lOne{
	display: flex;
	padding: 15px;
	border-bottom: 3px solid #000;
}
.cart__lOne img{
	height: 120px;
}
.cart__lTwo{
	border-bottom: none;
	padding-right:50px;
}
.cart__lTwo div{
	padding-top: 0px;
}
.cart__lTwo p{
	margin-top: -4px;
}
.cart__lText {
	padding: 8px 0 0 15px;
}
.cart__ltTop {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	height: 87%;
}
.cart__ltTop a{
	color: #000;
	font-weight: 700;
	padding-bottom: 10px;
	letter-spacing: -0.7px;
}
.cart__ltTop p{
	padding-top: 6px;
	letter-spacing: -1px;
}
.cart__ltTop a:visited{
	color: #000;
}
.cart__ltBottom {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
}
.date__ {
	width: 56.5%;
	height: 246px;
	border-right: 3px solid #000;
	border-bottom: 3px solid #000;
	padding: 16px;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}
.date__ :nth-child(1){
	font-size: 28px;
	letter-spacing: -1.4px;
}
.date__ :nth-child(2){
	font-size: 14px;
	padding: 15px 0;
	letter-spacing: -1px;
	line-height: 14px;
	width: 60%;
}
